{% extends "base.html" %}

{% block content %}
<div class="main-output" id="md-result" contenteditable="false">
    <h1 class="error-h1">Something went wrong...</h1>
    <p class="error-p">and it doesn't seem like our problem. Check your link again.</p>
    <p class="error-p">reddit2md cannot convert Link, Image, or Video posts.</p>
    <p class="error-p">reddit2md can only convert reddit posts(duh).</p>
    <p class="error-p">If there's nothing wrong with the link, please let me know via Github Issues.</p>
</div>
{% endblock %}